
ion-content {
  --background: linear-gradient(to right, #0a0a0f, #1a1a2e);
}


ion-toolbar {
  --background: linear-gradient(to right, #161625, #2a2a40);
  --color: #e0e0e0; /* Texto más claro para contraste */
}


ion-title {
  background: linear-gradient(to right, #ffffff, #48cae4);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-weight: bold;
  font-size: 1.6em;
  text-transform: uppercase;
}


ion-card {
  background: rgba(255, 255, 255, 0.07);
  border-radius: 12px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  margin: 16px;
  padding: 18px;
  color: #e0e0e0;
  backdrop-filter: blur(8px);
  border: 1px solid rgba(255, 255, 255, 0.2);
}


.profile-avatar {
  width: 110px;
  height: 110px;
  margin: 0 auto;
  border: 3px solid #48cae4;
}

.profile-avatar img {
  border-radius: 50%;
}


ion-button {
  --background: #48cae4;
  --color: #0a0a0f;
  --border-radius: 10px;
  --box-shadow: 0 4px 8px rgba(72, 202, 228, 0.4);
  margin: 16px;
  font-weight: bold;
}


ion-button[color="light"] {
  --background: transparent;
  --color: #48cae4;
  --border: 2px solid #48cae4;
}


ion-input {
  --background: rgba(255, 255, 255, 0.08);
  --color: #ffffff;
  --placeholder-color: #a3a3a3;
  --padding-start: 16px;
  --padding-end: 16px;
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  margin-bottom: 16px;
}


ion-item {
  --background: rgba(255, 255, 255, 0.05);
  --color: #e0e0e0;
  margin-bottom: 12px;
  border-radius: 8px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.2);
  width: 100%;
  height: 2.8rem;
}
